<footer>
    <div class="section-container">
        <div class="footer-grid">
            <div class="information-item">
                <a href="./index.html" title="home">
                    <a href="">driezie studio.</a>
                </a>
                <p class="footer-content">
                    Creating websites for Roblox ech groups that want to sell their products
                </p>
               

                <p class="social-media-title">Our Social media</p>
                <ul class="social-media">
                    <li class="item">
                        <a href="" title="twitter">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                    </li>
                    <li class="item">
                        <a href="" title="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="list-item item3">
                <h4>
                    Quick navigation
                </h4>
                <ul>
                    <li class="item">
                        <a href="#top" title="customer service">
                            Home
                        </a>
                    </li>
                    <li class="item">
                        <a href="#pricing" title="my account">
                            Pricing
                        </a>
                    </li>
                    <li class="item">
                        <a href="#about" target="_blank" title="status">
                            About
                        </a>
                    </li>
                    <li class="item">
                        <a href="#designs" title="contact">
                            Designs
                        </a>
                    </li>
                    <li class="item">
                        <a class="button knowme" href="mailto:contact@driezie.studio" title="contact">
                            Get to know me
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="section-container">
        <div class="copyright">
            <p>
                © 2024 driezie.studio . All Rights Reserved. | made with 🧡 by <a href="https://github.com/driezie" target="_blank">driezie</a>
            </p>
        </div>
    </div>
</footer>
<script>
    // Get the modal
var modal = document.getElementById("#pricing-model");

// Get the button that opens the modal
var btn = document.getElementById("#pricing-button");

// When the user clicks on the button, open the modal
btn.onclick = function() {
modal.classList.toggle('visible');
}
</script>
    
</html>

