<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>driezie.studio</title>
  <!-- import styles -->
  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/buttons.css" />
  <link rel="stylesheet" href="/style/grid.css" />
  <link rel="stylesheet" href="/style/footer.css" />
  <!-- icon -->
  <link rel="icon" href="" />
  <!-- seo -->
  <meta name="description" content="Here at driezie studio, we create websites and interface designs for Roblox groups. We offer a wide range of services, from website design to interface design.">
  <!-- social media -->
  <meta property="og:title" content="driezie studio.">
  <meta property="og:description" content="Here at driezie studio, we create websites and interface designs for Roblox groups. We offer a wide range of services, from website design to interface design.">
  <meta name="twitter:site" content="@driezie">
  <meta name="twitter:creator" content="@driezie">
  <meta name="twitter:title" content="driezie studio.">
  <meta name="twitter:description" content="Here at driezie studio, we create websites and interface designs for Roblox groups. We offer a wide range of services, from website design to interface design.">
</head>

<body>
    <%- include('./nav') %>