<section class="hero-section">
    <div class="section-container">
      <div class="content max-width-large">
        <h1>
          Creating websites and interface designs for Roblox groups
        </h1>
        <p>
          Here at driezie studio, we create websites and interface designs for Roblox groups. We offer a wide range of services, from website design to interface design.
        </p>
      </div>
      <div class="sliding-hero">
        <div class="text-block-8">
          Companys we've worked with
        </div>
        <ul class="logo-sliding-hero">
          <li>
            <img src="/images/parcel.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/enrise.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/bazaarblox.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/cityways.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/funda.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/cms.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          <li>
            <img src="/images/gkx.png" loading="lazy" alt="" class="mobile-hero"><div class="cover-left">
          </li>
          </div>
        </ul>
      </div>
    </div>
</section>