<%- include('./partials/head') %>


<section class="hero-section">
  <div class="section-container">
    <div class="content max-width-large">
      <h1>
        My Designs
      </h1>
    </div>
    </div>
  </div>
</section>

<section class="component-normal-section" id="designs">
  <div class="section-container">
    <div class="padding-vertical">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Explore Our Designs
          </h2>
        </div>
        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Web designs
              </div>
              <div class="text-size-tiny text-weight-light">
                Most of the designs and websites I made are for tech groups. 
              </div>
              <a data-o-anonymous="1" href="mailto:contact@driezie.studio" class="button is-grey homepage w-inline-block">
                <div>Contact me</div>
                <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
              </a>
            </div>
            
          </div>
          <div class="demo-content-wrap webdesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/small_project_2_full_page.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/drieziestudio.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>

        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Interface designs
              </div>
              <div class="text-size-tiny text-weight-light">
                These designs are mostly made as commissions for Roblox groups.
              </div>
              <a data-o-anonymous="1" href="mailto:contact@driezie.studio" class="button is-grey homepage w-inline-block">
                <div>Contact me</div>
                <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
              </a>
            </div>
            
          </div>
          <div class="demo-content-wrap uidesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/adminpanel.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/idk.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying1.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying2.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="component-normal-section" id="contactme">
  <div class="section-container">
    <div class="section-with-discord">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Contact me
          </h2>
        </div>
      </div>
      <div class="discord-box page">
        <h3 class="heading-style-h4">
          Add me on discord
        </h3>
        <p class="discord-text">You can add me on discord via <b>@driezie</b> and we can talk about your project. I am always open to new projects and I am exited to work with you.</p>
        </p>
        <a href="https://discord.com/users/852000000000000000" class="button is-grey homepage w-inline-block">
          <div>Contact me</div>
          <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/foot') %>
