<%- include('./partials/head') %>


<%- include('./components/mainpage-hero') %>

<section class="component-normal-section" id="about">
  <div class="section-container">
    <div class="section-with-image">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            A known developer from the Roblox Tech & Ro-av community
          </h2>
          <p>
            Hey! I'm Driezie, I'm a student at the <b>University of Amsterdam</b> and 
            I have been developing websites for 8 years and interface design since begin 2019. 
            
            I love playing music with piano and guitar and I love to play games. 
            
            I have been playing Roblox for the last 10 years and I have been able to help many Roblox
            groups with their online presence.
          </p>
          <p>
            Previously, I have worked with tech groups such as 
            <b>Go-Karting Xtreme</b>, 
            <b>OnPoint</b> and 
            <b>City Airways</b> and a lot more. 
            
            I have been able to help them with their UI designs. 
            With this experience, I have been able to help many Roblox groups with their online presence.
          </p>
          <p>
            If you are interested in working with me, please don't hesitate to contact me.
          </p>
          <a data-o-anonymous="1" href="/sign-up" class="button is-grey homepage w-inline-block">
            <div>Contact me</div>
            <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
          </a>
        </div>
      </div>
      <div class="image-wrap">
        <img src="https://tr.rbxcdn.com/30DAY-Avatar-4C5E640F3481998F99688DB8FB21C71A-Png/352/352/Avatar/Png/noFilter" loading="lazy" alt="" class="image">
      </div>
    </div>
  </div>
</section>


<section class="component-normal-section" id="designs">
  <div class="section-container">
    <div class="padding-vertical">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Explore Our Designs
          </h2>
        </div>
        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Web designs
              </div>
              <div class="text-size-tiny text-weight-light">
                Most of the designs and websites I made are for tech groups. 
              </div>
              <a data-o-anonymous="1" href="mailto:contact@driezie.studio" class="button is-grey homepage w-inline-block">
                <div>Contact me</div>
                <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
              </a>
            </div>
            
          </div>
          <div class="demo-content-wrap webdesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/small_project_2_full_page.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/drieziestudio.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>

        <div class="demo-main-wrap">
          <div class="content-demo-wrap">
            <div class="side-content">
              <div class="homepage-tag">
                Interface designs
              </div>
              <div class="text-size-tiny text-weight-light">
                These designs are mostly made as commissions for Roblox groups.
              </div>
              <a data-o-anonymous="1" href="mailto:contact@driezie.studio" class="button is-grey homepage w-inline-block">
                <div>Contact me</div>
                <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
              </a>
            </div>
            
          </div>
          <div class="demo-content-wrap uidesigns">
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/adminpanel.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/gkx2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife1.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/ife2.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/idk.jpg" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying1.png" loading="lazy" alt="" class="demo-image">
              </div>
              <div class="demo-image-wrap">
                <img src="/images/designs/ui/flying2.png" loading="lazy" alt="" class="demo-image">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="component-pricing-section" id="pricing">
  <div class="section-container">
    <div class="section-with-price">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Pricing
          </h2>
          <p>
            We do not have a fixed price for our websites. We believe that every project is unique and should be priced accordingly. We are exited to work with you and we are open to discuss the price of your project.
          </p>
        </div>
      </div>
      <div class="pricing_grid">
        <div class="pricing-card">
          <div class="pricing-card-top">
            <div>Basic Plan</div>
            <h3>One-pager</h3>
            <p>Uniquely crafted one-page websites. This package is ideal for small businesses and startups that want to establish an online presence and showcase their products or services.</p>
          </div>

          <div class="pricing-checklist">
            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Basic styles</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Basic components</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Responsive design</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>SEO optimization</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>2 rounds of revisions</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Delivery in 4 weeks</div>
            </div>

            <div class="checklist-unchecked"><img src="/svg/unchecked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Accessibility (WCAG)</div>
            </div>
          </div>

          

          <div class="pricing-button-wrapper">
            <a href="mailto:contact@driezie.studio" class="button is-grey w-button">Contact me</a>
          </div>
        </div>

        <div class="pricing-card">
          <div class="pricing-card-top">
            <div>Premium pack</div>
            <h3>Full-page</h3>
            <p>Uniquely crafted full-page websites with custom components. This package is ideal for bigger businesses and startups that want to establish an online presence and showcase their products or services.</p>
          </div>

          <div class="pricing-checklist">
            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Advanced styles</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Advanced components</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Responsive design</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>SEO optimization</div>
            </div>
            

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Accessibility (WCAG)</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>5 to 10 rounds of revisions</div>
            </div>

            <div class="checklist-checked">
              <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
              <div>Delivery in 8 weeks</div>
            </div>
          </div>

        
          <div class="pricing-button-wrapper">
            <a href="mailto:contact@driezie.studio" class="button is-grey w-button">Contact me</a>
          </div>
        </div>

        <div class="pricing-card">
          <div class="pricing-card-top">
            <h3>Custom</h3>
            <p>Can't find what you're looking for? We can provide you with a custom package designed specifically to meet your unique requirements and preferences.</p>
          </div>

          <div class="pricing-button-wrapper">
            <a href="mailto:contact@driezie.studio" class="button is-grey w-button">Contact me</a>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</section>

<section class="component-roadmap-section" id="roadmap">
  <div class="section-container">
    <div class="section-with-roadmap">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Roadmap
          </h2>
          <p>
            We're building the future of fast website development. Take a look at how the next few months are looking.
          </p>
        </div>
      </div>
      <div class="roadmap-wrapper">
        <div class="grid-5">
          <div class="grid-row current">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">BETA LAUNCH</div></div>
            <div class="row-content">
              <div class="row-content-bar">
                <div class="text-row">Initial launch, setup and design</div>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">COMPONENTS</div></div>
            <div class="row-content">
              <div class="row-content-bar _2">
                <div class="text-row">
                  Adding more components and design system
                </div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">SUPPORT</div></div>
            <div class="row-content">
              <div class="row-content-bar _3">
                <div class="text-row">Recieving feedback and improving the website</div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">ANIMATIONS</div></div>
            <div class="row-content">
              <div class="row-content-bar _4">
                <div class="text-row">Adding micro interactions and animation components</div>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="row-name"><div class="text-style-allcaps text-color-grey text-weight-medium">FULL LAUNCH</div></div>
            <div class="row-content">
              <div class="row-content-bar _5">
                <div class="text-row">
                  Domain management and hosting
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="component-normal-section" id="contactme">
  <div class="section-container">
    <div class="section-with-discord">
      <div class="content">
        <div class="content max-width-large">
          <h2>
            Contact me
          </h2>
        </div>
      </div>
      <div class="discord-box page">
        <h3 class="heading-style-h4">
          Add me on discord
        </h3>
        <p class="discord-text">You can add me on discord via <b>@driezie</b> and we can talk about your project. I am always open to new projects and I am exited to work with you.</p>
        </p>
        <a href="https://discord.com/users/852000000000000000" class="button is-grey homepage w-inline-block">
          <div>Contact me</div>
          <img src="/svg/arrow-right.svg" loading="lazy" alt="" class="arrow-link">
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/foot') %>
