<%- include('./partials/head') %>


<%- include('./components/hero', 
    { 
        // HEAD data
        title: 'Our <em>prices</em>',
        description: "We offer a variety of plans to suit your needs. Choose the one that's right for you.",
        buttons: {}
    }) 
%>


<section class="component-pricing-section" id="pricing">
    <div class="section-container">
      <div class="section-with-price">
        <div class="pricing_grid">
          <div class="pricing-card">
            <div class="pricing-card-top">
              <div>Basic Plan</div>
              <h3>One-pager</h3>
              <p>Uniquely crafted one-page websites. This package is ideal for small businesses and startups that want to establish an online presence and showcase their products or services.</p>
            </div>
  
            <div class="pricing-checklist">
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Basic styles</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Basic components</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Responsive design</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>SEO optimization</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>2 rounds of revisions</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Delivery in 4 weeks</div>
              </div>
  
              <div class="checklist-unchecked"><img src="/svg/unchecked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Accessibility (WCAG)</div>
              </div>
            </div>
  
            
  
            <div class="pricing-button-wrapper">
              <div class="buttons">
                <a  href="/get-in-touch" class="button primary">
                  <span>Choose this plan</span>
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="pricing-card">
            <div class="pricing-card-top">
              <div>Premium pack</div>
              <h3>Full-page</h3>
              <p>Uniquely crafted full-page websites with custom components. This package is ideal for bigger businesses and startups that want to establish an online presence and showcase their products or services.</p>
            </div>
  
            <div class="pricing-checklist">
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Advanced styles</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Advanced components</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Responsive design</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>SEO optimization</div>
              </div>
              
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Accessibility (WCAG)</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>5 to 10 rounds of revisions</div>
              </div>
  
              <div class="checklist-checked">
                <img src="/svg/checked-icon.svg" loading="lazy" alt="" class="checklist-image">
                <div>Delivery in 8 weeks</div>
              </div>
            </div>
  
          
            <div class="pricing-button-wrapper">
              <div class="buttons">
                <a  href="/get-in-touch" class="button primary">
                    <span>Choose this plan</span>
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="pricing-card">
            <div class="pricing-card-top">
              <h3>Custom</h3>
              <p>Can't find what you're looking for? We can provide you with a custom package designed specifically to meet your unique requirements and preferences.</p>
            </div>
  
            <div class="pricing-button-wrapper">
              <div class="buttons">
                <a  href="/get-in-touch" class="button primary">
                    <span>Choose this plan</span>
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>

<%- include('./partials/foot') %>
